body {
  height: 100vh;
  font-family: "Roboto";
}

main {
  height: 100%;
}

.left-side-section {
  width: 50%;
  background: linear-gradient(#3d46cd, #2e2e6e);
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.section-flex {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.same-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.google a img {
  fill: #fff;
  max-width: 80px;
  max-height: 80px;
  padding: 10px 20px;
}

.hidden-button,
.hidden-button:active,
.hidden-button:focus {
  display: none;
  text-decoration: none;
  color: #fff;
  background-color: #4c45ac;
  padding: 0.7rem 1.9rem;
  border-radius: 20px;
  font-weight: 700;
  opacity: 1;
  cursor: pointer;
  font-size: 12px;
}

.left-side-middle {
  text-align: center;
  padding: 0 80px 0;
}

.left-side-middle h2 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 32px;
}
.left-side-middle p {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 1.5;
  color: #d6d6d6;
}

.data-test {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #b2b4ca;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 300;
}

.data-test svg {
  max-width: 10px;
  max-height: 10px;
  fill: #b2b4ca;
  margin-right: 5px;
}
.same-style form hr {
  margin: 20px 0 20px;
  border: 1px solid #dbdbdb;
}

.activities-form::before {
  content: "";
  width: 20px;
  position: absolute;
  background-color: rgb(0, 179, 0);
  height: 2px;
}

.checkbox-style {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.checkbox-style input {
  width: 22px;
  height: 22px;
  color: 1px solid rgb(255, 255, 255);
  margin-right: 10px;
}
.checkbox-style label {
  font-weight: 300;
}
.checkbox-style:nth-last-of-type(1) {
  margin-bottom: 0;
}
.activities-form p {
  margin-bottom: 0;
}
.activities-form h3 {
  margin-top: 5px;
}
.button-blue,
.button-blue:active,
.button-blue:focus {
  float: right;
  text-decoration: none;
  color: #fff;
  background-color: #4c45ac;
  padding: 0.7rem 1.4rem;
  border-radius: 3px;
  font-weight: 700;
  opacity: 1;
  cursor: pointer;
  font-size: 12px;
}

.button-blue:hover {
  opacity: 0.8;
}

@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animation-detail {
  animation: opacity 1s linear, transform 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.first-survey {
  display: flex;
}

.second-survey {
  display: none;
}

.details {
  position: relative;
}

.details::before {
  content: "";
  width: 90px;
  position: absolute;
  background-color: rgb(0, 179, 0);
  height: 2px;
}

.activities-form {
  width: 350px;
}

.details {
  width: 350px;
}

.text-style input {
  width: 94%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid rgb(209, 209, 209);
  font-size: 12px;
  padding: 0 10px;
}
.text-style-select select {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid rgb(209, 209, 209);
  font-size: 12px;
  padding: 0 7px;
}
.text-style:nth-last-of-type(2) {
  margin-bottom: 10px;
}
.same-style p {
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.terms {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 11px;
}
.terms label {
  position: relative;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}
.terms span {
  color: #6c72e0;
  font-weight: 500;
}
.terms input {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.counter {
  color: #b9b9b9 !important;
  font-weight: bold !important;
  font-size: 14px;
}

.reset-btn,
.reset-btn:active,
.reset-btn:focus {
  float: right;
  text-decoration: none;
  color: rgb(117, 117, 117);
  background-color: #e2e2e2;
  padding: 0.6rem 1.4rem;
  border-radius: 3px;
  font-weight: bold;
  opacity: 1;
  cursor: pointer;
  margin: 0 2px 0 10px;
  font-size: 14px;
}

.confirmation-section {
  display: none;
}

.confirmation-form h3:nth-of-type(1) {
  margin-top: 0;
  color: rgb(85, 84, 84);
}
.confirmation-form p:nth-of-type(1) {
  margin-bottom: 5px;
}
.confirmation-form p:nth-of-type(2) {
  font-size: 12px;
}

.text-style {
  display: block;
}
.text-style-select {
  display: block;
}

.confirmation-flex {
  display: flex;
}
.confirmation-flex p:nth-of-type(1) {
  width: 30%;
}
.confirmation-flex p {
  width: 70%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 12px;
}
.confirmation-buttons {
  display: flex;
}

.confirmation-form::before {
  content: "";
  width: 140px;
  position: absolute;
  background-color: rgb(0, 179, 0);
  height: 2px;
}

.email-check {
  width: 350px;
}

.email-check h4 {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: 300;
}

.email-check::before {
  content: "";
  width: 270px;
  position: absolute;
  background-color: rgb(0, 179, 0);
  height: 2px;
}

.go-back-btn,
.go-back-btn:active,
.go-back-btn:focus {
  text-decoration: none;
  color: rgb(117, 117, 117);
  background-color: #e2e2e2;
  padding: 0.6rem 1.4rem;
  border-radius: 3px;
  font-weight: bold;
  opacity: 1;
  cursor: pointer;
  margin: 0 2px 0 0px;
  font-size: 14px;
}
.dashboard-btn,
.dashboard-btn:active,
.dashboard-btn:focus {
  text-decoration: none;
  color: #fff;
  background-color: #4c45ac;
  padding: 0.7rem 1.4rem;
  border-radius: 3px;
  font-weight: 700;
  opacity: 1;
  cursor: pointer;
  font-size: 12px;
}

.email-check-section {
  display: none;
}

@media (max-width: 850px) {
  .section-flex {
    flex-direction: column;
  }
  .left-side-section {
    width: 100%;
    padding: 0 0 100px;
  }
  .left-side-middle {
    padding: 0 20px 0;
  }
  .same-style {
    width: 100%;
    padding-top: 80px;
  }
}
@media (max-width: 600px) {
  .activities-form {
    padding: 0 30px 0;
  }
  .confirmation-form {
    padding: 0 30px 0;
  }
  .details {
    padding: 0 30px 0;
  }
  .email-check {
    padding: 0 30px 0;
    position: relative;
  }
  .activities-form h3 {
    font-size: 16px;
  }
  .same-style {
    padding: 80px 0 100px;
  }
  .button-blue,
  .button-blue:focus,
  .button-blue:active {
    float: none;
    text-align: center;
  }
  .next {
    text-align: center;
  }
  .left-side-section {
    align-items: center;
  }
  .hidden-button {
    display: inline-block;
  }
  .data-test {
    display: none;
  }
  .checkbox-style input {
    width: 11px;
    height: 11px;
  }
  .text-style-select {
    width: 100%;
  }
  .reset-btn,
  .reset-btn:active,
  .reset-btn:focus {
    font-size: 10px;
    float: none;
    margin-bottom: 10px;
  }
  #second-blue-button {
    font-size: 10px;
  }
  .confirmation-buttons {
    display: inline-block;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .email-check::before {
    width: 150px;
  }
  .go-back-btn,
  .go-back-btn:active,
  .go-back-btn:focus {
    text-decoration: none;
    color: rgb(117, 117, 117);
    background-color: #e2e2e2;
    padding: 0.6rem 0.4rem;
    border-radius: 3px;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
    margin: 0 2px 0 0px;
    font-size: 14px;
  }
  .dashboard-btn,
  .dashboard-btn:active,
  .dashboard-btn:focus {
    text-decoration: none;
    color: #fff;
    background-color: #4c45ac;
    padding: 0.7rem 0.4rem;
    border-radius: 3px;
    font-weight: 700;
    opacity: 1;
    cursor: pointer;
    font-size: 12px;
  }
}
